.orbit-slide:nth-of-type(1) .docs-example-orbit-slide {
    background: dodgerblue;
}

.orbit-slide:nth-of-type(2) .docs-example-orbit-slide {
    background: rebeccapurple;
}

.orbit-slide:nth-of-type(3) .docs-example-orbit-slide {
    background: darkgoldenrod;
}

.orbit-slide:nth-of-type(4) .docs-example-orbit-slide {
    background: lightseagreen;
}

.docs-example-orbit-slide {
    padding: 2rem 4rem;
    color: #fefefe;
}

.container{
  width: 100%;
  margin: 0 auto;
  margin-top:50px;
}

#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}