body{
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.orbit-slide:nth-of-type(1) .docs-example-orbit-slide {
    background: dodgerblue;
}

.orbit-slide:nth-of-type(2) .docs-example-orbit-slide {
    background: rebeccapurple;
}

.orbit-slide:nth-of-type(3) .docs-example-orbit-slide {
    background: darkgoldenrod;
}

.orbit-slide:nth-of-type(4) .docs-example-orbit-slide {
    background: lightseagreen;
}

.orbit-slide:nth-of-type(5) .docs-example-orbit-slide {
    background: MediumVioletRed ;
}

.docs-example-orbit-slide {
    padding: 2rem 4rem;
    color: #fefefe;
}

/* Splash page */

.content {
        width: 200px;
        height: 600px;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
    }

.info {
        width: 30px;
        height: 30px;
	padding-right: 10px;
    }

.hero-section {
  background: black url("/img/hero-section-image.jpg") 50% no-repeat;
  background-size: cover;
  margin-bottom: 2em;
  height: 60vh;
  position: relative;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-section .hero-section-text {
  width: 80vw;
  color: #fefefe;
  
  text-shadow: 1px 1px 2px #0a0a0a;
}

.carousel, .map-section, .opinion, .heros-description, .heros-video, .other-stories {
  margin-bottom: 2em;
}

.sri-section-home {
  background: black url("/img/plant-hands-wide-medium.png") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  padding: 50px;
  margin-bottom: 2em;
  position: relative;
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.sri-section-adapt {
  background: black url("/img/plant-hands-wide-medium.png") 50% no-repeat;
  background-size: cover;
  /*height: 60vh;*/
  padding: 50px;
  margin-bottom: 2em;
  position: relative;
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.sri-section-small {
  background: black url("/img/plant-hands-wide-medium.png") 50% no-repeat;
  background-size: cover;
  /*height: 60vh;*/
  padding: 10px;
  margin-bottom: 2em;
  position: relative;
  text-align: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-justify-content: left;
      -ms-flex-pack: left;
          justify-content: left;
}

/*
.sri-section:after{
    position:fixed;
    content:"";
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:black;
    z-index:-1;
}
*/

.sri-section-home .sri-section-text {
  width: 80vw;
  color: #fefefe;
  
  text-shadow: 1px 1px 2px #0a0a0a;
}

.sri-section-adapt .sri-section-text {
  width: 80vw;
  color: #fefefe;
  
  text-shadow: 1px 1px 2px #0a0a0a;
}

.sri-section-small .sri-section-text {
  /*width: 80vw;*/
  color: #fefefe;
  
  text-shadow: 1px 1px 2px #0a0a0a;
}

.row-sdg {
  /*width: 80vw;*/
  padding-bottom: 1em;
}

.img-sdg-small {
  width: 80px;
}

.img-sdg-medium {
  width: 130px;
}


/* Menu & Navigation */

.title-bar, .top-bar, .top-bar-right {
	background-color: white;
	color: black;
}

.menu-icon:after {
    background: black;
    box-shadow: 0 7px 0 black, 0 14px 0 black;

}
ul.dropdown.menu {
	background-color: white;
	color: black;
}


.container{
  width: 100%;
  margin: 0 auto;
  /*margin-top:50px;*/
}

.card-image {
    position: relative;
}
.card-image .icon {
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
    width: 3em;
}
.myimpact-logo {
    width: 2em;
}
#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 35%;
    padding-top: 30px;
    position: relative;
}



@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.button {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    
}

.button.success, .button.success:hover {
    color: white;    
}

.pin {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  background-image: url('/img/pin.svg');
  background-size: contain;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
