.orbit-slide:nth-of-type(1) .docs-example-orbit-slide {
    background: dodgerblue;
}

.orbit-slide:nth-of-type(2) .docs-example-orbit-slide {
    background: rebeccapurple;
}

.orbit-slide:nth-of-type(3) .docs-example-orbit-slide {
    background: darkgoldenrod;
}

.orbit-slide:nth-of-type(4) .docs-example-orbit-slide {
    background: lightseagreen;
}

.orbit-slide:nth-of-type(5) .docs-example-orbit-slide {
    background: MediumVioletRed ;
}

.docs-example-orbit-slide {
    padding: 2rem 4rem;
    color: #fefefe;
}

/* Splash page */

.content {
        width: 200px;
        height: 600px;

        position:absolute; /*it can be fixed too*/
        left:0; right:0;
        top:0; bottom:0;
        margin:auto;

        /*this to solve "the content will not be cut when the window is smaller than the content": */
        max-width:100%;
        max-height:100%;
        overflow:auto;
    }

/* Menu & Navigation */

.title-bar {
	background-color: white;
	color: black;
}

.top-bar {
	background-color: white;
	color: black;
}

.top-bar-right {
	background-color: white;
	color: black;
}
.menu-icon:after {
    background: black;
    box-shadow: 0 7px 0 black, 0 14px 0 black;

}
ul.dropdown.menu {
	background-color: white;
	color: black;
}




.container{
  width: 100%;
  margin: 0 auto;
  /*margin-top:50px;*/
}

.card-image {
    position: relative;
}
.card-image .icon {
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
    width: 3em;
}
.myimpact-logo {
    width: 2em;
}
#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
