.orbit-slide:nth-of-type(1) .docs-example-orbit-slide {
    background: dodgerblue;
}

.orbit-slide:nth-of-type(2) .docs-example-orbit-slide {
    background: rebeccapurple;
}

.orbit-slide:nth-of-type(3) .docs-example-orbit-slide {
    background: darkgoldenrod;
}

.orbit-slide:nth-of-type(4) .docs-example-orbit-slide {
    background: lightseagreen;
}

.orbit-slide:nth-of-type(5) .docs-example-orbit-slide {
    background: MediumVioletRed ;
}

.docs-example-orbit-slide {
    padding: 2rem 4rem;
    color: #fefefe;
}

/* Splash page */

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
}

/*Menu & Navigation*/

.title-bar {
	background-color: white;
}

.top-bar {
	background-color: white;
}

.top-bar-right {
	background-color: white;
}

.container{
  width: 100%;
  margin: 0 auto;
  /*margin-top:50px;*/
}

.card-image {
    position: relative;
}
.card-image .icon {
    position: absolute;
    top: calc(50% - 1.5em);
    left: calc(50% - 1.5em);
    width: 3em;
}

#map_container{
  position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
