<!-- BEGIN - TOP BAR -->
		<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
			<button class="menu-icon" type="button" data-toggle="example-menu"></button>
			
		      <div class="title-bar-title">
			      <a href="/fr-be/index.html"><img class=myimpact-logo src="/img/logo.svg"/></a>
			My Impact
		      </div>
				</div>
				<div class="top-bar" id="example-menu">
					<div class="hide-for-small-only top-bar-left">
						<div class="menu-text">
							<a href="/fr-be/index.html"><img class=myimpact-logo src="/img/logo.svg"/></a>
			  My Impact
			</div>	
			</div>
			<div class="top-bar-right">
			  <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu="">
			    <li ><a hreflang="apercu chiffré" href="/fr-be/pie.html">Aperçu chiffré</a></li>
			    <li ><a hreflang="engagements" href="/fr-be/engagement.html">Nos engagements</a></li>
			    <li ><a hreflang="localement" href="/fr-be/index.html#map">Autour de moi</a></li>
			    <li ><a hreflang="localement" href="/fr-be/do-more.html">Je veux avoir plus d'impact</a></li>
			    <li ><a hreflang="nl" href="/nl-be/index.html"><img src="/img/langNL.png"/></a></li>
			  </ul>
			</div>
		</div>
		<!-- END - TOP BAR -->
